name: Testes qualitativos

on:
  push:
    branches: 
      # - "main"
      - "beta"
      - "test-bash"
  pull_request:
    branches:
      - "main"
      - "beta"

env:
  php-version: 8.1
  psr: PSR12

jobs:
  padrao-de-codigo:
    runs-on: ubuntu-latest

    steps:
    - uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ env.php-version }}
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Instalar Dependências
      run: composer require squizlabs/php_codesniffer -q --no-interaction --no-progress

    - name: Verificar nivelamento
      run: |
        COMMITS_BEHIND=$(git rev-list --count $GITHUB_REF_NAME..origin/main);

        if [[ $COMMITS_BEHIND -gt 0 ]]; then
            echo "Branch desnivelada, $COMMITS_BEHIND commit(s) atrás da main."
            exit 1;
        fi
    - name: Verificar padrão de código
      run: |
        GIT_COMMAND="git diff origin/main $GITHUB_REF_NAME --name-only --diff-filter=d"

        for DIFF_FILE in $($GIT_COMMAND); do
          eval "vendor/bin/phpcs --standard=${{ env.psr }} $DIFF_FILE";
        done;